.plan .inner {
  padding: 20px;
  background-color: #ecfdff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  padding: 0.60em 0.70em;
}

.plan .title {
  font-weight: 600;
  font-size: 19px;
  margin-top: 8px;
}

.title, .info {
  text-align: center;
}

.info {
  margin-top: -12px;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.plan .features li+* {
  margin-top: 0.50rem;
}

.plan .features .icon {
  background-color: #1FCAC5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.plan .features+* {
  margin-top: 20px;
}

.action {
  display: flex;
}

.button {
  background-color: #6558d3;
  border-radius: 30%;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  width: 100%;
  padding: 0.625em 0.75em;
}

.plan .button:hover,
.plan .button:focus {
  background-color: rgb(115, 69, 250);
  color: white;
}