.carousel-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.arrow-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
  padding: 5px;
}

.carousel .slide img {
  width: 150px;
  height: 150px;
}

.four-images-container {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.four-images-container img {
  width: 23%; /* Ajusta el ancho de las imágenes según tus preferencias */
  height: auto;
  border: 1px solid #ddd;
  padding: 5px;
  box-sizing: border-box;
}