.image-item {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.image-item img {
  margin-top: 50px;
  height: 200px;
  width: 250px;
}

.slide-exterior-container {
  position: relative;
}

.carrousel-h2 {
  position: absolute;
  top: 0;
  left: 400px;
  color: indigo;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
}

.carousel-control-prev {
  left: -60px;
  /* Icono de navegación izquierdo */
}

.carousel-control-next {
  right: -60px;
  /* Icono de navegación derecho */
}