.carousel-section {
  margin: 50px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-item {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.image-item img {
  margin-top: 5px;
  height: 200px;
  width: 250px;
}

.slide-exterior-container {
  position: relative;
}

.carousel-container {
  position: relative;
}

.carousel-title {
  position: absolute;
  top: 10px; /* Ajusta la posición vertical del título */
  left: 50%; /* Ajusta la posición horizontal del título */
  transform: translateX(-50%);
  color: black;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.carousel-item {
  transition-duration: 2s; /* Ajusta el valor para controlar la velocidad */
}

.carousel-control-prev {
  left: -60px;
  /* Icono de navegación izquierdo */
}

.carousel-control-next {
  right: -60px;
  /* Icono de navegación derecho */
}