.card-event {
    margin-top: 150px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    font-weight: bold;
    font-size: 25px;
}

.card-content {
    display: flex;
    background-color: #ffffff;
}