footer {
    background-color: #ffffff;
    color: #2A528A;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

.footer-nav {
    display: flex;
    justify-content: center;
}

.footer-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer-nav-list li {
    margin: 0 10px;
}

.footer-nav-list li a {
    color: rgb(3, 3, 3);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-nav-list li a:hover {
    color: #210062;
}