* {
    box-sizing: border-box;
}

.ajuste {
    margin-left: 10px;
    margin-right: 10px;
}

body {
    background-image: url(../../assets/portada2.jpg);
}

hr {
    color: black;
    font-weight: bold;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.header .container {
    height: 100%;
    overflow: hidden;
}

.header {
    color: #2A528A;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    transition: 0.4s;
    background-size: cover;
    z-index: 9999;
}

ul {
    list-style: none;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
}

li {
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin-left: .625em;
}

li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

li a:hover {
    color: #2A528A;
}

&:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.titulo {
    text-align: left;
    font-size: 25px;
}

.home-link {
    padding-left: 0;
    margin-right: 20px;
}